  @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600&family=Golos+Text&family=Inconsolata:wght@200;300;400;500;600&family=Josefin+Sans:ital,wght@0,100;0,200;1,300;1,400&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*MENU*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;

}
/* header {
    display: flex;
    flex-direction: row;
} */
.menu li {
    list-style-type: none;
    padding: 20px 15px;
}
.menu li a {
    color: aliceblue;
    font-size: 1.5em ;
    text-transform: uppercase;
    text-decoration: none;
}
/*MAIN- LA PRIMERA SECCION*/

.seccionUno {
    height: 400px;
    width: 100%;
    background-image: url("./assets/portada\ header.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.seccionDos {
    display: flex;
    align-items:stretch;
    margin: 70px;
    padding: 50px;
    font-size: 20px;   
}

.carousel-inner {
    height: 500px;
}
.seccionDos h3 {
    margin: 20px;
    padding: 10px;
}


.botonTexto {
    width: 10%;
    background-color: aliceblue;
    text-align: center;
}

/*contenedor*/
.contenedor {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
  
}

.contenedor h3 {
    text-transform: uppercase;
    margin-left: 50px;
}
/*  cambie posicion y lo centre*/
.contenedor .formContacto {
    width: 50%;
    padding: 10px;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: solid 1px #a13;
    box-shadow: 2px 3px 5px #a13;
   
}


form {
    padding: 10px;
    display: contents;
    
 
}
/*  cambie posicion y lo centre*/
form input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    font-size: 15px;
}


/*footer*/

.caja {
    width: 80%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    margin-top: 30px; 
   text-align: center;
   margin-left: 100px;
}
.cajaUno {
    padding: 10px;
    width: 80%;
    font-size: 15px;
}

.horarios 
    {
        padding: 10px;
        width: 80%;
        font-size: 15px;
    }

    .direccion{
        padding: 10px;
        width: 80%;
        font-size: 15px;
        
    }

button {
    padding: 20px;
    width: 50%;
    margin-left: 60px;
 
 
 }

.btn {
    background-color: #a13;
    font-size: 15px;
   
}

.form-group input {
    font-size: 10px;
}

.cajaUno 
.horarios
.direccion {
          
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px 20px;
}

.horarios p span,
.direccion p span {
    display: block;
}